<!doctype html>
<html>
<head>
  {{ partial "head.html" . }}
  <title>苗ぷろ。</title>
  <meta property="og:title" content="2001Y.me｜2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログ" />
  <meta name="description" content="2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログです。">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://2001y.me" />
  <meta property="og:description" content="2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログです。">
</head>
<body ontouchstart>
  {{ partial "header.html" . }}
  <main>
      <section id=one class="observer">
        <div>
          女子学生に<br>ウェルネスを
        </div>
      </section>
    <section id=three class="observer">
      <section>
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        {{ .Content }}
      </section>
    </section>
  </main>
  <footer>
    ©︎naepro
  </footer>
</body>
<script src=/script.min.js?20210203></script>
</html>