<!doctype html>
<html>
<head>
  {{ partial "head.html" . }}
  <title>{{.Site.Title}}</title>
  <meta property="og:title" content="2001Y.me｜2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログ" />
  <meta name="description" content="2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログです。">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://2001y.me" />
  <meta property="og:description" content="2001YがWebやガジェットなどから写真まで、好きなことばかり書くブログです。">
</head>
<body ontouchstart>
  {{ partial "header.html" . }}
  <main id=top>
      <section id=one>
        <div>
          女子学生に<br>ウェルネスを
        </div>
      </section>
      <section id=two>
          <p class="observer big">
            「やりたいこと」
          </p>
          <p class="observer big">
            「カラダのこと」
          </p>
          <p class="observer big">
            「バイトのこと」
          </p>
          <p class="observer">
            女子学生は、<br>
            考えることがいっぱいある
          </p>
          <p class="observer">
            でもいつだって、<br>
            自分が幸せになれるウェルネスな未来を描きたい
          </p>
          <p class="observer">
            苗ぷろ。という自由なラボラトリーで<br>
            私たちと一緒に、自分の人生をデザインできる女性に
          </p>
      </section>
    <section id=three class="observer">
      <section>
        <h2>About us</h2>
        <p>
          こんにちは、苗ぷろです。<br><br>
          女子大生に向けてウェルネスを考える”きっかけ”を提供している団体です。<br>
          何何を考えて立ち上げました<br><br><br>
          です。
        </p>
        <div id="MVV">
          <div>
            <h3>Mission</h3>
            <p>「自分の人生をデザインできる女性を増やす」</p>
          </div>
          <div>
            <h3>Vison</h3>
            <p>「女子大生の一歩を創るラボラトリ」</p>
          </div>
          <div>
            <h3>Value</h3>
            <p>「Wellness と向き合う」<br>
              「自分発社会着」「リーダーシップを持つ」</p>
          </div>
        </div>
        <h2>ウェルネスとは</h2>
        <p>
          ”ウェルネス”は世界保健機関 (WHO) が
          国際的に提示した、新しい「健康」の定義です。
          
          苗ぷろ。の活動は、
          ”ウェルネス”という考え方を軸にしています。
        </p>
        <h2>苗ぷろ独自の<br>ウェルネスの再定義</h2>
        <h2>ロゴ</h2>
      </section>
    </section>
  </main>
  <footer>
    ©︎naepro
  </footer>
</body>
<script src=/script.min.js?20210203></script>
</html>