*,
before,
after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15 ;
  -webkit-text-size-adjust: 100% ;
  -webkit-tap-highlight-color: transparent ;
}

body {
  margin: 0;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box ;
  height: 0 ;
  overflow: visible ;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace ;
  font-size: inherit ;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  text-decoration: underline ;
  -webkit-text-decoration: underline dotted ;
          text-decoration: underline dotted ;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace ;
  font-size: inherit ;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

button-moz-focus-inner,
[type="button"]-moz-focus-inner,
[type="reset"]-moz-focus-inner,
[type="submit"]-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button-moz-focusring,
[type="button"]-moz-focusring,
[type="reset"]-moz-focusring,
[type="submit"]-moz-focusring {
  outline: 1px dotted ButtonText;
}

select-ms-expand {
  display: none;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  color: inherit ;
  display: table ;
  max-width: 100% ;
  padding: 0 ;
  white-space: normal ;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="number"]-webkit-inner-spin-button,
[type="number"]-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px ;
}

[type="search"]-webkit-search-decoration {
  -webkit-appearance: none;
}

-webkit-file-upload-button {
  -webkit-appearance: button ;
  font: inherit ;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable] {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: icon, Helvetica, "游ゴシック Medium", "Yu Gothic", YuGothic, -apple-system, Verdana, Meiryo;
  font-weight: bold;
}

body:before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99999;
  background: linear-gradient(30deg, rgba(255,255,255,0.9), rgba(151,195,198,0.3)), url("/img/dot.png") repeat, url("/img/bg.jpg") no-repeat scroll center 30%/cover;
}

footer {
  max-width: 1000px;
  margin: auto;
}

header {
  background: rgba(255,255,255,0.26);
  width: 100vw;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
}

nav li {
  padding: 0 1rem;
}

.flex {
  display: flex;
}

.big {
  font-size: 2em;
}

.observer {
  opacity: 0;
  transition: 1s;
}

.noopacity {
  opacity: 1;
}

#one,
#two,
#three {
  transition: 0.3s;
}

#one section,
#two section,
#three section {
  margin: auto;
  max-width: 800px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  margin-top: 3rem;
}

h4 {
  font-size: 2rem;
  margin-top: 1rem;
}

#one,
#two {
  padding: 4.5rem;
}

#top #one {
  height: 100vh;
}

#one {
  font-size: 5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#two {
  font-size: 2rem;
}

#two p {
  margin-top: 40vh;
}

#three {
  padding: 8rem 4.5rem;
  background: #fff;
}

footer {
  color: #fff;
  padding: 4rem;
  text-align: center;
}